*{
	padding: 0;
	margin: 0;
}

body{

	background-image: url(imagenes/fondoenes.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100%;
}



a:link{text-decoration: none;}

img {display: block; margin: 0 auto;}

#contenedor{
	width: 85%;
	margin: auto;
	margin-top:20px;
	box-shadow: 0 0 4px 1px #3E3E3E;
	background-color: white;
}

.onKlic{/*Para cambiar el cursor al pasar sobre el elemento deseado*/
	cursor: pointer;
}
.red{
	color:red;
}

.oculto{
	display: none;
}

/*-----------------Cabecera--------------------*/
/*------------------------------------------------------*/

#cabecera{
	display: block;
	width: 100%;
	height: auto;
}

#usuario{
	 display: block;
	 width: 100%;
	 font-family: 'Alegreya Sans', sans-serif;
	 font-size: 1em;
	 height: 25px;
	 font-weight: 400;
	 background-color: #0B0B61;
}

.boton_usuario{
	text-align: center;
	height: 20px;
	min-width: 80px;
	float: right;
	display:inline-block;
	padding-left: 15px;
	padding-right: 15px;
}

#a_en{ background-color: #428D42; }
#a_reg{ background-color: #1C1C1C; }
#a_car{ background-color: #424242; }
#a_car2{ float:left; margin-left:10px; width:50px; text-align:center;}

#nombre{
	padding: 5px;
	display: inline-block;
	background-color: #0B0B61;
	width: 100%;
	height: 105px;
	font-family: Arial;
	font-size: 1.8em;
	color: white;
	/*text-shadow: 2px 1px 3px #5E610B;*/
}

#nombre img{
	 width: 300px;
	 height:auto;
}

#titulo{
	float: right;
	margin-top: 40px;
	margin-right: 50px;

}

#usuario a{color: white; }
#usuario a:hover{text-decoration: none; color:#01A9DB;}
#usuario .col-xs-2{ float: right; }
#usuario .col-xs-1{ float: right; }


/*----------------------------------------------------------------*/
/*----------------------- [ NAVBAR ]------------------------------*/
/*----------------------------------------------------------------*/

#nav span {
    display: none;
}
#nav, #nav ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#nav {
    background-color: #F5F5F5;
    /*border-bottom: 5px solid #333333;*/
    float: left;
    position: relative;
		height: 30px;
    width: 100%;
    z-index: 3;
}
#nav ul.subs {
    background-color: #FFFFFF;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    color: #333333;
    display: none;
    left: 0;
    padding: 2%;
    position: absolute;
    top: 45px;
    width: 100%;
}
#nav > li {
    border-bottom: 5px solid transparent;
    float: left;
    margin-bottom: -5px;
    text-align: left;
    -moz-transition: all 300ms ease-in-out 0s;
    -ms-transition: all 300ms ease-in-out 0s;
    -o-transition: all 300ms ease-in-out 0s;
    -webkit-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
}
#nav li a {
    display: block;
    text-decoration: none;
    -moz-transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
    -ms-transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
    -o-transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
    -webkit-transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
    transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
    white-space: normal;
}
#nav > li > a {
    color: #333333;
    display: block;
    font-size: 1.0em;
    line-height: 30px;
    padding: 0 15px;
    text-transform: uppercase;
    z-index: 3;
}
#nav > li:hover > a, #nav > a:hover {
    background-color: #A7C2F4;
    color: #FFFFFF;
}
#nav li.active > a {
    background-color: #333333;
    color: #FFFFFF;
}

/* submenu */
#nav li:hover ul.subs {
    display: block;
    z-index: 1;
}
#nav ul.subs > li {
    display: inline-block;
    float: none;
    padding: 10px 1%;
    vertical-align: top;
    width: 33%;
}
#nav ul.subs > li a {
    color: #777777;
    line-height: 20px;
}
#nav ul li a:hover {
    color: #F55856;
}
#nav ul.subs > li > a {
    font-size: 1.0em;
    margin-bottom: 10px;
    text-transform: uppercase;
}
#nav ul.subs > li li {
    float: none;
    padding-left: 8px;
    -moz-transition: padding 150ms ease-out 0s;
    -ms-transition: padding 150ms ease-out 0s;
    -o-transition: padding 150ms ease-out 0s;
    -webkit-transition: padding 150ms ease-out 0s;
    transition: padding 150ms ease-out 0s;
}
#nav ul.subs > li li:hover {
    padding-left: 15px;
}

/* responsive rules */
@media all and (max-width : 980px) {
    #nav > li {
        float: none;
        border-bottom: 0;
        margin-bottom: 0;
    }
    #nav ul.subs {
        position: relative;
        top: 0;
    }
    #nav li:hover ul.subs {
        display: none;
    }
    #nav li #s1:target + ul.subs,
    #nav li #s2:target + ul.subs {
        display: block;
    }

    #nav ul.subs > li {
        display: block;
        width: auto;
    }
}

/*----------------------------------------------------------------*/
/*------------------- [ CONTENIDO DE PAGINA ]---------------------*/
/*----------------------------------------------------------------*/

#principal{
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: white;
	color: black;
	min-height: 1000px;
}

.cabecera{
	margin-bottom: 30px;
}

.titular{
	width: 100%;
	margin: 0px;
	height: 30px;
	font-size: 1.2em;
	background-color: darkgrey;
	color: white;
	padding: 3px;
	font-family: "Helvetica";
}

.titular1{
	width: 100%;
	margin: 0px;
	height: 30px;
	font-size: 2em;
	padding: 3px;
	font-family: "Helvetica";
	color:#4f4f4f;
}

.bloque_year{
	margin: auto;
	margin-top: 20px;
	width: 85%;
	min-height: 150px;
	background-color: #F5F5F5;
}

.bloque_desplegable{
	margin:auto;
	margin-top:20px;
	width: 85%;
	min-height: 200px;
	background-color: #F5F5F5;
}


.bloque_desplegable1{
	margin:auto;
	margin-top:20px;
	width: 85%;
	min-height: 200px;
}

.auxiliar{
	margin: auto;
	width: 90%;
}

table#OrdenDia{width: 90%; margin: auto;}
table#OrdenDia td, table#OrdenDia th { padding: 5px;}

.sesiones, .tabla_usuarios{
	margin:auto;
	width: 85%;
	min-height: 200px;
	border: 1px solid #86a5a9;
	font-size: 1.1em;
}

#tabla_sus{
	width: 90%;
	margin: auto;
}

table#add_sustrato{	margin: auto; border: 1px solid #337AB7; background-color: white;}
table#add_sustrato td{ padding: 3px; border-bottom: 1px solid #337AB7;}
table#add_sustrato th{ padding: 3px; color: white; background-color: #337AB7; font-size: 1.1em;}

.bloque_year select{
	width: 160px;
	height: 25px;
	font-size: 1.0em;
	border: 1px solid #7C8E9D;
	border-radius: 3px;
	margin-bottom: 8px;
}

.titulo{
	margin: auto;
	width:80%;
	border-radius: 3px 3px 0px 0px;
	background-color: #2E64FE;
	box-shadow: 0px -1px 4px rgba(33, 40, 41, 0.5);
	height: 30px;
	color:white;
	padding-top: 0.5px;
}


/*-----------------SUSTRATO--------------------
-----------------------------------------------*/

.notas{ margin:auto; font-size: 1.2em; text-align: center; margin-top: 100px; width: 80%;}
.notas span{color: red;}


table#OrdenDia td, table#OrdenDia tr{padding:5px;}
#add_punto, #add_subcarp, #edit_fold, #edit_file {padding: 20px; width:95%; min-height: 120px; background-color: #F7F7F7; margin: auto; margin-top: 20px; box-shadow: 0px 1px 2px rgba(0,0,0,0.3)}

#add_punto{margin-bottom: 200px;}

#add_archivo{padding: 20px; width:95%; background-color: #F7F7F7; min-height: 120px; margin: auto; margin-top: 20px; box-shadow: 0px 1px 2px rgba(0,0,0,0.3)}
.file_success{
	width: 80%;
	margin: auto;
	padding-left: 2%;
	background-color: #BCF5A9;
	border-radius: 5px;
	height: 25px;
	color: #424242;
	font-size: 1.2em;
	margin-bottom: 5px;
}

/*#docs-tree{display: none;}*/
/***************************************************************************
------------------INTERFAZ DE PANEL ADD SUSTRATO-----------------------------
***************************************************************************/

#panel-sustrato{
	width: 100%;
	margin: auto;
	min-height: 600px;
}

#smenu{
	float: left;
	width: 30%;
	min-height: 550px;
	border-left:1px solid #959595;
	border-bottom: 1px solid #959595;
	border-right: 1px solid #959595;


}

#pnl-main{
	float: right;
	width: 70%;
	min-height: 550px;
	border-right: 1px solid #959595;
	border-bottom: 1px solid #959595;
}

#punto-tree{

  width:100%;
  color:white;
  height: 45px;
  background-color:#1f1f8d;
  margin:auto;
}

#punto-tree #anterior, #punto-tree #siguiente{ 	cursor:pointer; display:inline-block; width:15px; padding-left: 10px; padding-right: 25px;}
#punto-tree #anterior img, #punto-tree #siguiente img{
	width: 16px;
	height: auto;
	display:inline-block;
	text-align: center;
}

#punto-tree #nPunto, #punto-tree #nombrePunto{
	font-size: 14pt;
	padding-top: 5px;
}



#carpetas-tree{
	float: left;
	width: 100%;
	background-color:#F7F7F7;
	min-height: 480px;
	overflow-y: scroll;
	color: #424242;
}

.subcarp-tree{
	width:100%;
	padding: 4px;
	margin:auto;
	margin-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #959595;
	color: #424242;
	/*background-color: rgba(255, 255, 255, 0.6);
	border-radius: 8px;*/
}

.subcarp-tree img{
	display:inline-block;
	padding-right: 3px;
}

.op-tree{ width: 100%; padding:3px; background-color: #EEEEEE; border-bottom: 1px solid #868686;}

.op-add{width: 100%; height: 50px; border-bottom: 1px solid #686868;}

.op-add .left{
	width:50%;
	padding-top:13px;
	background-color: grey;
	display: inline-block;
	border-right: 1px solid #686868;
	border-top: 1px solid #686868;
	height: 44px;
	float: left;
	color: white;
}

.op-add .right{
	width:50%;
	padding-top:13px;
	border-top: 1px solid #686868;
	display: inline-block;
	background-color: grey;
	height: 44px;
	float: right;
	color: white;
}

.op-add .right:hover, .op-add .left:hover{
	background-color: #6f6f6f;
	cursor: pointer;
}

.op-tree img{ width: 10px; height: auto; display: inline-block;}

#navtree{
	width: 100%;
	padding: 3px;
	padding-left: 10px;
	float: right;
	display: inline-block;
	background-color: #F7F7F7;
	color: black;
	border-bottom: 1px solid #868686;
}

#panel{
	padding-left: 10px;
	background-color: white;
	display: inline-block;
	float: right;
	width: 100%;
	min-height: 422px;
}

#listaContenido #wrap{
	width: 100%;
	display: inline-block;
	background: #F7F7F7;
	color: #3f3f3f;
	text-decoration: none;
	cursor: default;
	font-size: 1.1em;
	z-index:0;
}

 #listaContenido #carpeta, #wrap #archivo {
	padding: 5px 5px 0px 5px;
	padding-left: 10px;
	height: auto;
	width: 90%;
	display: inline-block;
	float: left;

}

#listaContenido #carpeta img, #listaContenido #archivo img{
	display:inline-block;
	margin-top: -5px;
	width: 20px;
	height: auto;
}

#listaContenido #wrap:hover{ background: #E5E5E5;}

#listaContenido .edit{
	display:inline-block;
	width:10%;
	padding-left: 15px;
	padding-top: 5px;
	float: right;
	cursor: pointer;
	color:#3068a6;
}
 #punto .edit{
	display:inline-block;
	width: 30px;
 	padding-left:0;
 	float: right;
 	cursor: pointer;
 }

.aeditar{
	margin: auto;
	margin-top: 80px;
	padding: 10px;
	border-radius: 3px;
	border: 5px solid #d7d7d7;
	width: 40%;
	display: none;
	cursor: default;
}

#edit_punto{
	padding: 20px;
	width:95%;
	min-height: 120px;
	margin:auto;
  margin-top: 20px;
	border-radius: 3px;
	border: 5px solid #d7d7d7;
	width: 100%;
	cursor: default;
	color:#4f4f4f;
}

.notaEdit{
	margin: auto;
	margin-top: 10px;
	padding: 8px;
	border-radius: 3px;
	border: 4px solid #d7d7d7;
	width: 95%;
}




table#tcarpeta{width: 80%; float: right;}
table#tarchivos{width: 80%; float: right;}
table#tarchivos th, #tarchivos td{padding: 5px;}
table#tcarpeta th, #tcarpeta td {padding: 5px;}

/*---------------------------------------------*/
/*---------------------------------------------*/

label {
	font-size: 1.2em;
	color:#424242;
	font-style: normal;
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 5px;
	margin-top: 5px;
	font-weight: normal;
}

p.dfon{
	font-size: 1.5em;
	font-family: 'Open Sans';
}

.fsesion{
	height: 25px;
	border: 1px solid #7C8E9D;
	border-radius: 3px;
	padding-left: 3px;
}

.tsesion{
	height: 25px;
	border: 1px solid #7C8E9D;
	border-radius: 3px;
	padding-left: 3px;
	margin-bottom: 8px;

}

.file{
	background-color: white;
	border: 1px solid #7C8E9D;
}

.archivo{
	margin-top: 10px;
}


table#sesiones {
	margin: auto;
	margin-top: 10px;
	padding: 5px;
	width: 750px;
	font-size: 1.0em;
	border: 1px solid #337AB7;
}

table#sesiones td, table#sesiones th{ width:auto; padding: 8px; border-bottom: 1px solid #337AB7}
table#sesiones th{ background-color: #337AB7; color: white	}

/*------------------------------------------------------------
-------------------- SESION ---------------------------------*/


.bloque_sesion{
	padding: 0%;
	width: 100%;
	height: auto;
	min-height: 800px;
	position: relative;
}

#wrap-sesion{
	position: relative;
	height: auto;
}

#pdf{
	position: relative;
	width: 97%;
	margin: 0;
	padding:0;
	height: 900px;
	display: inline-block;
	z-index: 0;
}

#menu{
	position: absolute;
	width: 3%;
	margin: 0;
	padding-top: 10px;
	color: white;
	right: 0px;
	top: 0px;
	float: right;
	height: 900px;
	background-color:  #2E64FE;
	cursor:  pointer;
	z-index: 0;
	display:inline-block;
}
#menu:hover{
	background-color:#9BDBFB;
}

.menu-sustrato{
	position: absolute;
	top: 0;
	right:0;
	width: 35%;
	min-height: 900px;
	-webkit-box-shadow: -2px 2px 5px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: -2px 2px 5px 0px rgba(0,0,0,0.4);
	box-shadow: -2px 2px 5px 0px rgba(0,0,0,0.4);
	z-index:0;
	/*display: none;*/
}

#bt-deslizante{
	position: relative;
	width: 5%;
	height: 100%;
	top:0;
	bottom:0;
	float:left;
	color: white;
	min-height: 900px;
	background-color: #2E64FE;
	cursor:  pointer;
	z-index: 1;
}
#bt-deslizante:hover{
	background-color:#9BDBFB;
}

#sustrato{
	position: absolute;
	width: 95%;
	margin:0px;
	height: auto;
	min-height: 900px;
	background-color: #0B0B61;
	top: 0px;
	float: right;
	display: inline-block;
}

.titulo_sustrato{
	margin-top:0px;
	width: 100%;
	height: 70px;
	background-color: #0B0B61;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.3em;
	color: white;
}

.titulo_sustrato span{
	margin-right: 10px;
	float: right;
}

#punto{ /*C/U de los puntos de sustrato de una orden del día*/
	min-height: 200px;
	color: white;
	padding-left: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	width: 100%;
	min-height: 30px;
	height: auto;
	border-bottom: 1px solid #282892;
	font-size: 1.1em;
	cursor:  pointer;
}

/*#Boton_Agregar a{
	margin-top:5px;
	color: white;
	padding-left: 15px;
	padding-top: 5px;
	padding-bottom: 15px;
	width: 100%;
	min-height: 30px;
	border-bottom: 1px solid #282892;
	font-size: 1.1em;
	float: right;
	cursor:  pointer;
}

*/

#carp_punto{
	height: auto;
	color: white;
	padding-left: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	width: 100%;
	min-height: 5px;
	font-size: 1.1em;
	cursor:  pointer;

	}
#punto span, #carp_punto span{
	margin-right: 10px;
}
#punto:hover, #carp_punto:hover{
	background-color: #282892;
}
.docs{
	margin-left: 10px;
}
.etiquetas{
	font-size: 1.3em;
}
.menu{
	width: 80px;
	height: 30px;
	border-radius: 2px;
}


/*****************NORMATIVIDAD****************************/

.lista li{
	padding: 5px;
}

/**********************PANEL DE CONTROL***************************/

.bloque-blank{
	width:80%;
	margin:auto;
}

.bloque-blank ul{ margin-left: 15px;}

table #Users{
	width: 600px;
	height: 200px;

}

table #Users td, th{
	padding:10px;
text-align: center;
}


/**************************CALENDARIO****************************/
#calendarios {
		margin-top: 30px;
}

#calendarios img{
	width: 100%;
	height: auto;
}

/***************************COMITÉS*****************************/
#comites li{
	margin-bottom: 10px;
}

#comites {
	margin-bottom: 20px;
}

/****************************ACUERDOS***************************/

#acta_acuerdo{
	padding: 15px;
}

.files_ac div{
	margin-bottom: 5px;
}

.files_ac img{
	width: 20px;
	height: auto;
	display: inline-block;
	margin-right: 10px;
}

#tabla_acuerdos{
	width: 96%;
	margin:auto;
	margin-top: 40px;
	margin-bottom: 40px;
	font-size: 10pt;
}

#informacion_acuerdo label{
	color: #4998cf;
}

table#acuerdos th{
	background-color: #337AB7;
	color: white;
	font-size: 9pt;
}

table#acuerdos img, table#oficios img{
	width: 20px;
	height: auto;
}

table#acuerdos_notas {
	color: #566573;
	margin: auto;
}

table#acuerdos_notas img{
	display: inline-block;
	width: 15px;
	height: auto;
	margin-bottom: 3px;
	margin-right: 5px;
}

table#acuerdos_notas th, table#acuerdos_notas td{
	padding: 5px;
}

/*--------------------------Pie de página----------------------*/
/*-------------------------------------------------------------*/


#pie{
	margin-top: 0%;
	width: 100%;
	min-height: 300px;
	height: auto;
	margin: auto;
	padding: 10px;
	background-color: #333;
}

.contenido{
	width: 80%;
	height: auto;
	min-height: 600px;
	margin: auto;
	padding: 2%;
}

.contenido2{
	width: 80%;
	height: auto;
	margin: auto;
	padding: 10px;
	padding-top: 30px;
	color: #9f9f9f;
}

#f1{
	margin-left: 0;
	height: 200px;
}

#f2{
	margin-right: 0;
	height: 200px;
}

#flat{
	margin-top: 7%;
}

#fleft{display: inline-block; height: 200px; width: 100px;} #fright{display: inline-block; height: 200px; width: 200px;}

.ftitulo{font-size: 1.3em; padding-top: 5%;} .info{font-size: 1.2em} .derechos{font-size: 0.8em; padding-top: 20px;}

/*-------------------RESPONSIVE-----------------------
------------------------------------------------------*/
@media only screen and (max-width: 1024px){ .catalogo{ width: 90% }}

@media only screen and (max-width: 900px){
	#busqueda{
		display: none;
	}
}

@media only screen and (max-width: 820px){
	.col-xs-6{
		width: 80%;
	}
}

@media only screen and (max-width: 530px){
	#cabecera .col-xs-2{
		display: block;
		width: 100%;
		margin-top: auto;
	}

	#cabecera .col-xs-6{
		width: 100%;
	}

	#cabecera{
		height: 350px;
	}

	#cabecera h2{
		font-size: 3em;
		text-align: center;
		padding-left: 10px;
	}

	#cabecera a{
		text-align: center;
		display: block;
		font-size: 1.5em;
		padding-left: 10px;
	}

	.catalogo{ width: 100%}
}
